<?xml version="1.0" encoding="UTF-8"?>

<Configuration Status="WARN">
               
               
 <Properties>
     <Property name="basePath">C:\Imam Selenium\Web driver\Billing_Drucare_17_01_2025\logs</Property>
 </Properties>
 
 
 
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} {%t}   %-5level %logger{36}-%msg%n"/>
    </Console>
    
    
    </Appenders>
<Appenders>

   <RollingFile name="RollingFile" fileName="${basePath}/automation.log"  filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
   
          <Policies>
                     <SizeBasedTriggeringPolicy size="10MB" />
           </Policies>
   
         <PatternLayout pattern="%d{HH:mm:ss.SSS} {%t}   %-5level %logger{36}-%msg%n"/>
               
   </RollingFile>
    
  </Appenders>
  <Loggers>
  
    <Root level="Info"><!--Here you can use multiple log levels All< Trace < Debug <Info <Warn <Error<Off-->
    
     <!-- <AppenderRef ref="CONSOLE"/>-->
      <AppenderRef ref="RollingFile"/>
    </Root>
    
  </Loggers>
  
</Configuration>
